$white: #fff;
$black: #111;
$lightGrey: #f7f7f7;
$greyTableBorder: #eeeeee;
$grey: #9b9b9b;
$darkGrey: #717171;

$foreground: #fff;
$background: #121212;
$primary: #00ff80;
$primary-200: #84ffa9;
$primary-100: #bbffcc;
$primary-50: #e3ffea;

$elevation-1: rgba(255, 255, 255, 0.05);
$elevation-2: rgba(255, 255, 255, 0.07);
$elevation-3: rgba(255, 255, 255, 0.08);
$elevation-4: rgba(255, 255, 255, 0.09);
$elevation-6: rgba(255, 255, 255, 0.11);
$elevation-8: rgba(255, 255, 255, 0.12);
$elevation-12: rgba(255, 255, 255, 0.14);
$elevation-16: rgba(255, 255, 255, 0.15);
$elevation-24: rgba(255, 255, 255, 0.16);
