code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.plain-text {
  color: #ccc;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.operator {
  color: #ea4a5a;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #7bcc72;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #79b8ff;
}

.token.function,
.token.class-name {
  color: #b392f0;
}

/* language-specific */

/* JSX */
.language-jsx .token.punctuation,
.language-jsx .token.tag .token.punctuation,
.language-jsx .token.tag .token.script,
.language-jsx .token.plain-text {
  color: #ccc;
}

.language-jsx .token.tag .token.attr-name {
  color: #b392f0;
}

.language-jsx .token.tag .token.class-name {
  color: #c8e1ff;
}

.language-jsx .token.tag .token.script-punctuation,
.language-jsx .token.attr-value .token.punctuation:first-child {
  color: #ea4a5a;
}

.language-jsx .token.attr-value {
  color: #79b8ff;
}

.language-jsx span[class="comment"] {
  color: #959da5;
}

/* HTML */
.language-html .token.tag .token.punctuation {
  color: #ccc;
}

.language-html .token.tag .token.attr-name {
  color: #b392f0;
}

.language-html .token.tag .token.attr-value,
.language-html
  .token.tag
  .token.attr-value
  .token.punctuation:not(:first-child) {
  color: #79b8ff;
}

/* CSS */
.language-css .token.selector {
  color: #b392f0;
}

.language-css .token.property {
  color: #c8e1ff;
}
